.formulario{
  text-align: flex;
  justify-content: center;
  background-color:#92A9BD;
}

#id_calificacion_comida, #id_calificacion_precio, #id_calificacion_presentacion, #id_comentario{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0 auto;
}

body {
  background-color: #7C99AC;
  text-align: left;
}

input[type="submit"]{
  background-color: #7C99AC;
  color: black;
  border-color: #7C99AC;
}

input[type="submit"]:hover{
  background-color: rgb(102, 121, 138);
  color: black;
  border-color: #92A9BD;
}
