body {
  background-color: #f8f8f8; 
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
#espacio-abajo {

  width: 100%;
  padding: 50px;
  background-color: #f8f8f8;
  text-align: center;
}

#espacio-arriba {

  width: 100%;
  padding: 150px;
  background-color: #f8f8f8;
  text-align: center;
}


h1, h2, h3 {
  color: #4b4b4b; 
  font-weight: bold;
}

a {
  color: #B19CD9; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #4b4b4b; 
}

button {
  background-color: #B19CD9; 
  border: none;
  border-radius: 3px;
  color: #fff; 
  cursor: pointer;
  padding: 8px 16px;
}

button:hover {
  background-color: #7238b5; 
}

div a {
  display: block;
  margin: 10px 0;
}


img {
  display: block;
  margin: 0 auto;
  width: 370px;
  height: 380px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

form {
  position: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type="text"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

form button[type="submit"] {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #B19CD9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

form button[type="submit"]:hover {
  background-color: #8c68b7;
}
