html {
	height: 100%;
}

body {
	background-image: linear-gradient(to right bottom, #d3dedc, #dae2dc, #e2e5dd, #ece8df, #f6ebe4, #f4e3e0, #efdcde, #e8d6de, #d2c5d4, #b8b5c9, #9ba7bd, #7c99ac);
}

.login-box {
	color: #FFEFEF;
	background: #92A9BD;
}

.login-box h2{
	margin-bottom: 4rem;
}

.login-box a {
	color: #FFEFEF;
}

.login-box input {
	border-radius: 0%;
	border: none;
  border-bottom: 1px solid #FFEFEF;
	background: transparent;
	z-index: 0;
}

.login-box label {
	position: absolute;
	pointer-events: none;
	text-align: start;
	transition: .5s;
	color: #FFEFEF;
}

.login-box label:has(+ input:focus),
.login-box label:has(+ input:not(:placeholder-shown)) {
	transform: translate(0, -2rem);
	font-size: smaller;
}


.login-box ::-webkit-input-placeholder {
	opacity: 0;
}

.login-box input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	transition-delay: 0.2s;
	opacity: 1;
	color: #596462;
}

.login-box button {
	border: 0;
	background-color: #D3DEDC;
}

.login-box .btn:hover {
  background-color: #FFEFEF; /* Green */
  color: black;
}