{# templates/_card_review.html #}

{% load static %}

<article class="card">
    <section class="card-body">
        <section class="d-flex align-items-center mb-3">
            <img class="rounded-circle me-3" src="{% static 'img/perfilsf.png' %}" alt="Foto de {{ review.usuario }}"
                style="max-width: 10%;">
            <figcaption class="d-2">{{ review.usuario }}</figcaption>
        </section>
        <ul class="list-unstyled">
            <li>Puesto: {{ review.local_comida }}</li>
        </ul>
        <section class="row">
            <ul class="list-unstyled fs-6 col-5">
                <li>Comida:</li>
                <li>Precio:</li>
                <li>Presentación:</li>
            </ul>
            <ul class="list-unstyled fs-6 col-4">
                <li class="calificacion">
                    {% include "_calificacion_comida.html" %}
                </li>
                <li class="calificacion">
                    {% include "_calificacion_precio.html" %}
                </li>
                <li class="calificacion">
                    {% include "_calificacion_presentacion.html" %}
                </li>
            </ul>
        </section>
        <ul class="list-unstyled">
            {% if review.detalle != '' %}
            <li>Detalle:</li>
            <li>{{ review.detalle }}</li>
            {% endif %}
        </ul>
    </section>
</article>