{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/buscar.css' %}">
</head>
<main class="w-50 mx-auto my-5">
  <form action="" method="post" class="centered-form">
    {% csrf_token %}
    {{ form_busqueda.as_p }}
    <button class="btn btn-primary" type="submit">Buscar</button>
  </form>
</main>


<script text="text/javascript" language="javascript">
    var search = document.getElementById("search_pc");
    var search_mobile = document.getElementById("search_mobile");
    search.setAttribute("class", search.getAttribute("class") + " active");
    search_mobile.setAttribute("class", search_mobile.getAttribute("class") + " active");
</script>

{% endblock content %}