<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/crear_reseña_style.css">

</head>

<body>
  <main>
    <div class="bottom-0 position-sticky">
      <div class="container-fluid d-flex justify-content-between align-items-center p-2" style="background-color: #7C99AC;">
        <h3 class="mx-3">¿Deseas contribuir?</h3>
        <!-- Button trigger modal -->
        {% if user.is_authenticated %}
          <button type="button" class="btn btn-primary mx-5 my-3" data-bs-toggle="modal" data-bs-target="#createResena">
            Crear reseña
          </button>
        {% else %}
          <div class="text-center mx-5 d-block align-self-center">
            <button type="button" class="btn btn-primary my-auto" data-bs-toggle="modal" data-bs-target="#createResena" disabled>
              Crear reseña
            </button>
            <p class="fs-6 text-danger fw-bold my-auto">Necesitas iniciar sesión para crear una reseña.</p>
          </div>
        {% endif %}
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createResena">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
          <h1 class="modal-title fs-3 mb-4">Crear una reseña</h1>
          <form action="" method="post">
            {% csrf_token %}
              <div class="card-body">
                  {{ form_tarea.as_p }}
                  <button class="btn btn-primary" name="taskAdd" type="submit">Crear reseña</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>