{% load static %}

{% load custom_filters %}

<div class="offcanvas-header">
  <h3 class="offcanvas-title" id="offcanvasExampleLabel">{{local.nombre}}</h3>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body p-0 overflow-x-hidden">
  <dl class="row">
    {% if local.FotoLocal%}
    <img src="{{ local.FotoLocal.url }}" class="img-fluid" alt="">
    {% endif %}
  </dl>
  <dl class="row mb-0 text-start">
    {% if local.dueño%}
    <div class="mx-3">
      <dt class="col-sm-3">Dueño</dt>
      <dd class="col-sm-9">{{local.dueño}}</dd>
    </div>
    {% endif %}

    <div class="row mx-0" id="review-container">
      {{% include 'display_review_list.html' %}
    </div>
  </dl>
</div>

<div class="bottom-0 position-sticky">
  <div class="d-flex align-items-center p-2 justify-content-around" style="background-color: #7C99AC;">
      <!-- Button trigger modal -->
      {% if user.is_authenticated %}
      <h5 class="">¿Deseas contribuir?</h5>
      <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#createResena">
          Crear reseña
      </button>
      {% else %}
      <div class="text-center d-block align-self-center">
          <h5 class="">¿Deseas contribuir?</h5>
          <a type="button" class="btn btn-dark" href="{% url 'login' %}">Iniciar sesión</a>
      </div>
      {% endif %}
  </div>
</div>
