{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa</title>
  <link rel="stylesheet" href= "{% static 'css/lista_de_reviwes.css' %}">
  <link rel="stylesheet" href="../static/css/crear_reseña_style.css">
</head>
<main class="">
  <header>
    <h1 class="mx-4 my-4">Lista de reseñas</h1>
  </header>
  <section class="mx-4">
    <ul>
      {% for review in reviews_list %}
      <article>
        <div class="d-flex flex-row mb-3">
          <div class="img">
            <img src="{% static 'img/perfilsf.png' %}" alt="Foto de {{ review.usuario }}">
            <figcaption class="d-2">{{ review.usuario }}</figcaption> 
          </div>
        </div>
        <ul>
          <li>Puesto de comida: {{ review.local_comida }}</li>
          <li>Calificación de comida: {{ review.calificacion_comida }}</li>
          <li>Calificación de precio: {{ review.calificacion_precio }}</li>
          <li>Calificación de presentación: {{ review.calificacion_presentacion }}</li>
          <li>Comentario: {{ review.comentario }}</li>
        </ul>
      </article>
      <hr>
      {% empty %}
      <li>No hay reseñas todavía.</li>
      {% endfor %}
    </ul>
  </section>
  <div class="bottom-0 position-sticky">
    <div class="container-fluid d-flex justify-content-between align-items-center p-2" style="background-color: #7C99AC;">
      <h3 class="mx-3">¿Deseas contribuir?</h3>
      <!-- Button trigger modal -->
      {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary mx-5 my-3" data-bs-toggle="modal" data-bs-target="#createResena">
          Crear reseña
        </button>
      {% else %}
        <div class="text-center mx-5 d-block align-self-center">
          <button type="button" class="btn btn-primary my-auto" data-bs-toggle="modal" data-bs-target="#createResena" disabled>
            Crear reseña
          </button>
          <p class="fs-6 text-danger fw-bold my-auto">Necesitas iniciar sesión para crear una reseña.</p>
        </div>
      {% endif %}
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="createResena">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
        <h1 class="modal-title fs-3 mb-4">Crear una reseña</h1>
        <form action="" method="post">
          {% csrf_token %}
            <div class="card-body">
                {{ form_tarea.as_p }}
                <button class="btn btn-primary mt-2" name="taskAdd" type="submit">Crear reseña</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
