{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container my-4">
  <h2>Lista de comercios</h2>
  <div class="container text-center">
    <div class="row row-cols-4">
      {% for local in list %}


      <div class="col">
        <div class="card">
          {% if local.FotoLocal%}
          <img class="card-img-top" src="{{local.FotoLocal.url}}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{local.nombre}}</h4>
            <p class="card-text">{{local.dueño}}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>



</div>

<script>
    
</script>

{% endblock %}