<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/busqueda" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
      </form>
    <h1>Mapa</h1>
    <div><p>Mapa ilustrativo de los puestos de comida </p></div>
   
    <div>
        <h2>Lista de comercios</h2>
        <a href="#">Almuerzos Japoneses</a>
        <a href="#">Asuque Rico</a>
        <a href="#">Carrito de sopaipillas</a>
        <a href="#">Empanadas a la plancha</a>
        <a href="#">Fajitas colaciones</a>
        <a href="#">Jorge el curioso</a>
        <a href="#">Menú Casero</a>
        <a href="#">Tacos</a>
        <a href="#">Tía Zule</a>
    </div>


    <div class="botones-inferiores">
        <button>Home</button>
        <button>Mapa</button>
        <button>Perfil</button>
      </div>
      
</body>
</html>