<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/busqueda" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
      </form>
    <h1>Mapa</h1>
    <div>
        <p>Mapa ilustrativo de los puestos de comida </p></div>

        <img src="Mapa comida.png" usemap="#miMapa">

        <map name="miMapa">
          <area shape="rect" coords="0,0,100,100" href="#" title="Fajitas Colaciones">
          <area shape="rect" coords="200,200,50" href="#" title="Tacos">
          <area shape="rect" coords="0,0,100,100" href="#" title="Empanadas">
          <area shape="rect" coords="200,200,50" href="#" title="Sopaipillas">
          <area shape="rect" coords="0,0,100,100" href="#" title="Asuque Rico">
          <area shape="rect" coords="200,200,50" href="#" title="Jorge el curioso">
          <area shape="rect" coords="0,0,100,100" href="#" title="Menú casero">
          <area shape="rect" coords="200,200,50" href="#" title="Empanadas al horno">
          <area shape="rect" coords="0,0,100,100" href="#" title="Tía Zule">
          <area shape="rect" coords="200,200,50" href="#" title="Alfajores">
          <area shape="rect" coords="0,0,100,100" href="#" title="Almuerzos Japoneses">
          <area shape="rect" coords="200,200,50" href="#" title="Fajitas">
        </map>
    <div>
        <h2>Lista de comercios</h2>
        <a href="#">Almuerzos Japoneses</a>
        <a href="#">Asuque Rico</a>
        <a href="#">Carrito de sopaipillas</a>
        <a href="#">Empanadas a la plancha</a>
        <a href="#">Fajitas colaciones</a>
        <a href="#">Jorge el curioso</a>
        <a href="#">Menú Casero</a>
        <a href="#">Tacos</a>
        <a href="#">Tía Zule</a>
    </div>


    <div class="botones-inferiores">
        <button>Home</button>
        <button>Mapa</button>
        <button>Perfil</button>
      </div>
      
</body>
</html>