{% extends 'base.html' %}

{% load static %}
{% block content %}
<head>
  <link rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>
  <div class="container">
    <div class="img" style="    background-color: #FFEFEF;
      height: 150px;background-size: cover;">
    </div>
    <div class="card social-prof">
      <div class="card-body hello">
        <div class="wrapper">
          <img src="https://img.freepik.com/premium-photo/cat-dressed-formal-business-suit-anthropomorphic-businessman-generative-ai_796128-1479.jpg?w=740" alt="" class="user-profile">
          <h3>Nombre</h3>
          <p>@nickname</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card hello">
          <div class="card-body info-card social-about">
            <h2 class="text-blue">Sobre Mi</h2>
            <h4><strong>Mis Intereses</strong></h4>
            <p>Aqui van los hashtags</p>
            <h4 class="mb-3"><strong>Información Personal</strong></h4>
            <div class="row">
              <div class="col-6">
                <div class="social-info">
                  <i class="fas fa-birthday-cake mr-2" style="color: #92A9BD"></i>
                  <span>15/08/1991</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="social-info">
                  <i class="fas fas fa-users mr-2" style="color: #92A9BD"></i>
                  <span>Female</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="social-info">
                  <i class="fas fas fa-envelope mr-2" style="color: #92A9BD"></i>
                  <span>like@example.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card info-card hello">
          <div class="card-body">
            <h2 class="text-blue">Mis Reseñas</h2>
            <div class="row">
              <div class="col-lg-8">
                <h5>Lugar</h5>
                  <div class="mb-3">
                    <p>La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica. </p>
                  </div>
              </div>
              <div class="col-lg-4">
                <h5>Evaluación</h5>
                <div class="mb-3">
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <h5>Lugar</h5>
                <div class="mb-3">
                  <p>La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica. </p>
                </div>
              </div>
              <div class="col-lg-4">
                <h5>Evalución</h5>
                <div class="mb-3">
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <h5>Lugar</h5>
                <div class="mb-3">
                  <p>Muy buen lugar... super rico los sabores de helados y los demás productos que venden... el lugar está bien ubicado, es fácil llegar... tiene mesitas afuera, atienden rápido y bien... son muy amables las chicas que trabajan ahí... todo limpio y ordenado, dentro y fuera del local... totalmente recomendable. </p>
                </div>
              </div>
              <div class="col-lg-4">
                <h5>Evaluación</h5>
                <div class="mb-3">
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
            </div>
            <div class="col-lg-5">
              <button class="btn see-more" id="see-more" data-toggle="modal" data-target="#exampleModal">Ver Más ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>      
      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header float-right">
          <h5>Mis Reseñas</h5>
            <div class="text-right">
              <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
            </div>
        </div>
      <div class="modal-body">
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th class="w-50" scope="col">Reseña</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lugar</th>
                <th scope="col"></th>  
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Muy buen lugar... super rico los sabores de helados y los demás productos que venden... el lugar está bien ubicado, es fácil llegar... tiene mesitas afuera, atienden rápido y bien... son muy amables las chicas que trabajan ahí... todo limpio y ordenado, dentro y fuera del local... totalmente recomendable.</td>
                <td>14-01-2023</td>
                <td>Lugar</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica.</td>
                <td>31-12-2022</td>
                <td>Lugar</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica. La comida es muy rica.</td>
                <td>31-10-2022</td>
                <td>Lugar</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bundle.min.js' %}"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}