{% extends 'base.html' %}

{% load static %}
{% block content %}
<head>
  <link rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
{% if request.user.is_authenticated %}
<body>
  <div class="container">
    <div class="img" style="    background-color: #FFEFEF;
      height: 150px;background-size: cover;">
    </div>
    <div class="card social-prof">
      <div class="card-body hello">
        <div class="wrapper">
          <img src="https://img.freepik.com/premium-photo/cat-dressed-formal-business-suit-anthropomorphic-businessman-generative-ai_796128-1479.jpg?w=740" alt="" class="user-profile">
          <h3>Nombre</h3>
          <p>{{request.user.username}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card hello">
          <div class="card-body info-card social-about">
            <h2 class="text-blue">Sobre Mi</h2>
            <h4><strong>Mis Intereses</strong></h4>
            <p>Aqui van los hashtags</p>
            <h4 class="mb-3"><strong>Información Personal</strong></h4>
            <div class="row">
              <div class="col-6">
                <div class="social-info">
                  <i class="fas fas fa-users mr-2" style="color: #92A9BD"></i>
                  <span>Pronombres: {{request.user.pronombre}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="social-info">
                  <i class="fas fas fa-envelope mr-2" style="color: #92A9BD"></i>
                  <span>Mail: {{request.user.email}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card info-card hello">
          <div class="card-body">
            <h2 class="text-blue">Mis Reseñas</h2>
            {% for review in reviews_usuario %}
            <div class="row">
              <div class="col-lg-8">
                <h5>{{review.local_comida}}</h5>
                  <div class="mb-3">
                    <p>{{review.comentario}} </p>
                  </div>
              </div>
              <div class="col-lg-4">
                <h5>Evaluación</h5>
                <div class="mb-3">
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                  <i class="fas fa-star" style="color:#92A9BD"></i>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-lg-5">
              <button class="btn see-more" id="see-more" data-toggle="modal" data-target="#exampleModal">Ver Más ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>      
      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header float-right">
          <h5>Mis Reseñas</h5>
            <div class="text-right">
              <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
            </div>
        </div>
      <div class="modal-body">
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Reseña</th>
                <th scope="col">Comida</th>
                <th scope="col">Presentación</th>
                <th scope="col">Precio</th>
                <th scope="col">Lugar</th>  
              </tr>
            </thead>
            <tbody>
              {% for review in reviews_usuario %}
                <tr>
                  <td>{{review.comentario}}</td>
                  <td>{{review.calificacion_comida}}</td>
                  <td>{{review.calificacion_presentacion}}</td>
                  <td>{{review.calificacion_precio}}</td>
                  <td>{{review.local_comida}}</td>
                  <td>
                    <ul class="list-inline m-0">
                      <li class="list-inline-item">
                        <a href="{% url 'edit_review' review.id %}">
                          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Editar">
                          <i class="fa fa-edit"></i>
                          </button>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Borrar">
                            <i class="fa fa-trash"></i>
                          </button>
                        </a>  
                      </li>
                    </ul>
                  </td>
                </tr>
              {% endfor %}  
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
  </div>
  </body>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bundle.min.js' %}"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  {%endif%}
  {% endblock %}          