{% extends "base.html" %}

{% block content %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

<div class="container-sm my-4">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto rounded-5 px-2 py-4 shadow-lg reg-box">
  <h2 class="text-center" style="margin-bottom: 4rem">Sign Up</h2>
  <form method="post" class="mx-5">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
  </div>
</div>
{% endblock %}