{% extends 'stores.html' %}

{% load static %}


{% block content2 %}
{% if local %}

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{local.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <dl class="row">

            {% if local.FotoLocal%}
            <img src="{{ local.FotoLocal.url }}" class="img-fluid" alt="">
            {% endif %}
            <dt class="col-sm-3">Dueño</dt>
            <dd class="col-sm-9">{{local.dueño}}</dd>


            <dt class="col-sm-3">Descripción </dt>
            <dd class="col-sm-9 text-truncate">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur
                voluptates
                vitae aspernatur nesciunt magni consequatur. Saepe velit eum cupiditate, odio molestiae vitae! Maxime
                omnis animi nobis mollitia ipsa quaerat.</dd>

            <dt class="col-sm-3">Reseñas</dt>

            <dd class="flex-row">
                <section class="my-2">
                    {% for review in reviews_list %}
                        {% if review.local_comida == local %}
                        <div class="d-flex flex-row mb-3">
                            <div class="img">
                                <img src="{% static 'img/perfilsf.png' %}" alt="Foto de {{ review.usuario }}" style="max-width: 20%;">
                                <figcaption class="d-2">{{ review.usuario }}</figcaption> 
                            </div>
                        </div>
                        <ul>
                            <li>Puesto de comida: {{ review.local_comida }}</li>
                            <li>Calificación de comida: {{ review.calificacion_comida }}</li>
                            <li>Calificación de precio: {{ review.calificacion_precio }}</li>
                            <li>Calificación de presentación: {{ review.calificacion_presentacion }}</li>
                            {% if review.comentario != '' %}
                                <li>Comentario: {{ review.comentario }}</li>
                            {% endif %}
                        </ul>
                        <hr>
                        {% endif %}
                    {% endfor %}
                </section>
            </dd>
        </dl>
    </div>
</div>

<script>
    document.getElementById("offcanvasExample").classList.add('show');
</script>

{% else %}

{% endif %}
{% endblock %}