{% extends 'tiendas.html' %}

{% load static %}

{% load custom_filters %}

{% block content2 %}
{% if local %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/crear_reseña_style_objetivo.css' %}">
{% endblock %}

<div class="offcanvas offcanvas-start p-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">{{local.nombre}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 overflow-x-hidden">
        <dl class="row">
            {% if local.FotoLocal%}
            <img src="{{ local.FotoLocal.url }}" class="img-fluid" alt="">
            {% endif %}
        </dl>
        <dl class="row m-1 mb-0 text-start">
            
            <dt class="col-sm-3">Dueño</dt>
            <dd class="col-sm-9">{{local.dueño}}</dd>


            <dt class="col-sm-3">Descripción </dt>
            <dd class="col-sm-9 text-truncate">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur
                voluptates
                vitae aspernatur nesciunt magni consequatur. Saepe velit eum cupiditate, odio molestiae vitae! Maxime
                omnis animi nobis mollitia ipsa quaerat.</dd>
            <div class="row">
                <div class="col">
                    {% for review in reviews_list %}
                    <div class="d-flex flex-start mt-4">
                        <img class="rounded-circle shadow-1-strong me-3" src="{% static 'img/perfilsf.png' %}"
                            alt="Foto de {{ review.usuario }}" width="50" height="50" />
                        <div class="flex-grow-1 flex-shrink-1">
                            <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                {{ review.usuario }} <span class="small">- {{ review.fecha|timesince|split_timesince}} </span>
                                </p>
                                <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                            </div>
                            <p>
                                {{review.detalle}}
                            </p>

                            <div class="row">
                                <ul class="list-unstyled fs-6 col-4">
                                    <li>Comida:</li>
                                    <li>Precio:</li>
                                    <li>Presentación:</li>
                                </ul>
                                <ul class="list-unstyled fs-6 col-3">
                                    <li class="calificacion">
                                        {% if review.calificacion_comida == 1 %}
                                        <span>★☆☆☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_comida == 2 %}
                                        <span>★★☆☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_comida == 3 %}
                                        <span>★★★☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_comida == 4 %}
                                        <span>★★★★☆</span>
                                        {% endif %}
                                        {% if review.calificacion_comida == 5 %}
                                        <span>★★★★★</span>
                                        {% endif %}
                                    </li>
                                    <li class="calificacion">
                                        {% if review.calificacion_precio == 1 %}
                                        <span>★☆☆☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_precio == 2 %}
                                        <span>★★☆☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_precio == 3 %}
                                        <span>★★★☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_precio == 4 %}
                                        <span>★★★★☆</span>
                                        {% endif %}
                                        {% if review.calificacion_precio == 5 %}
                                        <span>★★★★★</span>
                                        {% endif %}
                                    </li>
                                    <li class="calificacion">
                                        {% if review.calificacion_presentacion == 1 %}
                                        <span>★☆☆☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_presentacion == 2 %}
                                        <span>★★☆☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_presentacion == 3 %}
                                        <span>★★★☆☆</span>
                                        {% endif %}
                                        {% if review.calificacion_presentacion == 4 %}
                                        <span>★★★★☆</span>
                                        {% endif %}
                                        {% if review.calificacion_presentacion == 5 %}
                                        <span>★★★★★</span>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <ul class="list-unstyled">
                                <i class="bi bi-hand-thumbs-up"></i> {{review.likes}} <i class="bi bi-hand-thumbs-down"></i> {{review.dislikes}}
                            </ul>

                            </div>
                        
                            {% for comentario in review.calificaciones.all %}  
                            <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                                <img class="rounded-circle shadow-1-strong" src="{% static 'img/perfilsf.png' %}"
                                alt="avatar" width="50" height="50" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mb-1">
                                        {{comentario.comentarista}} <span class="small">- {{ comentario.fechacomentario|timesince|split_timesince}}</span>
                                    </p>
                                </div>
                                <p>
                                    {{comentario.comentario}}
                                </p>
                                </div>
                            </div>
                            </div>
                            {% endfor %}

                            <div class="d-flex flex-start mt-4">
                                <div class="flex-grow-1 flex-shrink-1">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="evaluacion" value="{{ review.id }}">
                                        {{form_comentario.comentario.erros}}
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="{{ form_comentario.comentario.id_for_label }}"  name="{{ form_comentario.comentario.html_name }}" value="{{ form_comentario.comentario.value|default_if_none:''|escape }}" required></textarea>
                                            <label for="{{ form_comentario.comentario.id_for_label }}">Deja tu comentario</label>
                                        </div>   
                                        <button type="submit" class="btn btn-primary" name="comment_form">
                                            <i class="bi bi-send-fill"></i>
                                            Enviar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </dl>
    </div>
    <div class="bottom-0 position-sticky">
        <div class="d-flex align-items-center p-2 justify-content-around" style="background-color: #7C99AC;">
            <!-- Button trigger modal -->
            {% if user.is_authenticated %}
            <h5 class="">¿Deseas contribuir?</h5>
            <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#createResena">
                Crear reseña
            </button>
            {% else %}
            <div class="text-center d-block align-self-center">
                <h5 class="">¿Deseas contribuir?</h5>
                <p class="text-danger fw-bold my-auto fs-6">Debes iniciar sesión para crear una reseña.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-start" id="createResena">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Crear una reseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#createResena"
                    aria-label="Close"></button>
            </div>
            <form method="post" action="#">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="modal-body">
                    <div class="row">
                        <p class="col-4 my-auto fs-5">Comida:</p>
                        <div class="rating col-auto">
                            {% for radio in form_tarea.calificacion_comida %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">☆</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-4 my-auto fs-5">Precio:</p>
                        <div class="rating col-auto">
                            {% for radio in form_tarea.calificacion_precio %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">☆</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-4 my-auto fs-5">Presentación:</p>
                        <div class="rating col-auto">
                            {% for radio in form_tarea.calificacion_presentacion %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">☆</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="textAreaWrapper fs-5">
                        {{ form_tarea.detalle.errors }}
                        <label for="{{ form_tarea.detalle.id_for_label }}" class="row m-auto mt-3 mb-2">Deja tu
                            comentario</label>
                        {{ form_tarea.detalle }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" name="review_form">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("offcanvasExample").classList.add('show');
</script>

{% else %}

{% endif %}
{% endblock %}