{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/crear_reseña_style_objetivo.css' %}">
{% endblock %}

<div class="container my-4">
    <h2 class="my-4">Lista de comercios</h2>
    <div class="container text-center">
        <div class="row">
            {% for local in list %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4">
                <div class="card h-100">
                    {% if local.FotoLocal%}
                    <div class="centering">
                        <img class="card-img-top centering" src="{{local.FotoLocal.url}}" alt="Card image cap">
                    </div>
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-around">
                        <h4 class="card-title my-auto">{{local.nombre}}</h4>
                        {% if local.dueño%}
                        <p class="card-text">{{local.dueño}}</p>
                        {% endif %}
                        <form method="get">
                            <button class="btn btn-primary mt-3" type="submit" name="local" value="{{local.id}}">
                                Mostrar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>



{% if local %}
<div class="offcanvas offcanvas-start show p-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">{{local.nombre}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 overflow-x-hidden">
        <dl class="row">
            {% if local.FotoLocal%}
            <img src="{{ local.FotoLocal.url }}" class="img-fluid" alt="">
            {% endif %}
        </dl>
        <dl class="row mb-0 text-start">
            {% if local.dueño%}
            <div class="mx-3">
                <dt class="col-sm-3">Dueño</dt>
                <dd class="col-sm-9">{{local.dueño}}</dd>
            </div>
            {% endif %}
            <div class="row mx-0">
                <div class="col p-0 mb-3">
                    {% for review in reviews_list %}
                    <div class="d-flex flex-start my-4 mx-3">
                        <img class="rounded-circle shadow-1-strong me-3" src="{% static 'img/perfilsf.png' %}"
                            alt="Foto de {{ review.usuario }}" width="50" height="50" />
                        <div class="flex-grow-1 flex-shrink-1">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mb-1">
                                        {{ review.usuario }} <span class="small">- {{review.fecha|timesince|split_timesince}} </span>
                                    </p>
                                </div>
                                <p>
                                    {{review.detalle}}
                                </p>

                                <div class="row">
                                    <ul class="list-unstyled fs-6 col-4">
                                        <li>Comida:</li>
                                        <li>Precio:</li>
                                        <li>Presentación:</li>
                                    </ul>
                                    <ul class="list-unstyled fs-6 col-3">
                                        <li class="calificacion">
                                            {% include "_calificacion_comida.html" %}
                                        </li>
                                        <li class="calificacion">
                                            {% include "_calificacion_precio.html" %}
                                        </li>
                                        <li class="calificacion">
                                            {% include "_calificacion_presentacion.html" %}
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-unstyled">

                                    <form method="post">
                                        {% csrf_token %}
                                        {% if user.is_authenticated %}
                                        {% if request.user in review.usuario_dio_like.all %}
                                        <button type="submit" class="btn btn-secondary" name="like"
                                            value="{{ review.id }}">
                                            <i class="bi bi-hand-thumbs-up"></i> {{review.usuario_dio_like.count}}
                                        </button>
                                        {% else %}
                                        <button type="submit" class="btn btn-outline-secondary" name="like"
                                            value="{{ review.id }}">
                                            <i class="bi bi-hand-thumbs-up"></i> {{review.usuario_dio_like.count}}
                                        </button>
                                        {% endif %}

                                        {% if request.user in review.usuario_dio_dislike.all %}
                                        <button type="submit" class="btn btn-secondary" name="dislike"
                                            value="{{ review.id }}">
                                            <i class="bi bi-hand-thumbs-down"></i> {{review.usuario_dio_dislike.count}}
                                        </button>
                                        {% else %}
                                        <button type="submit" class="btn btn-outline-secondary" name="dislike"
                                            value="{{ review.id }}">
                                            <i class="bi bi-hand-thumbs-down"></i> {{review.usuario_dio_dislike.count}}
                                        </button>
                                        {% endif %}
                                        {% else %}
                                        <button type="submit" class="btn btn-outline-secondary" name="like"
                                            value="{{ review.id }}" disabled>
                                            <i class="bi bi-hand-thumbs-up"></i> {{review.usuario_dio_like.count}}
                                        </button>
                                        <button type="submit" class="btn btn-outline-secondary" name="dislike"
                                            value="{{ review.id }}" disabled>
                                            <i class="bi bi-hand-thumbs-down"></i> {{review.usuario_dio_dislike.count}}
                                        </button>
                                        {% endif %}
                                    </form>

                                </ul>

                            </div>

                            {% for comentario in review.calificaciones.all %}
                            <div class="d-flex flex-start mt-4">
                                <a class="me-3" href="#">
                                    <img class="rounded-circle shadow-1-strong" src="{% static 'img/perfilsf.png' %}"
                                        alt="avatar" width="50" height="50" />
                                </a>
                                <div class="flex-grow-1 flex-shrink-1">
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-1">
                                                {{comentario.comentarista}} <span class="small">- {{comentario.fechacomentario|timesince|split_timesince}}</span>
                                            </p>
                                        </div>
                                        <p>
                                            {{comentario.comentario}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="d-flex flex-start mt-4">
                                <div class="flex-grow-1 flex-shrink-1">
                                    {% if user.is_authenticated %}
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="evaluacion" value="{{ review.id }}">
                                        {{form_comentario.comentario.erros}}
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="{{ form_comentario.comentario.id_for_label }}"
                                                name="{{ form_comentario.comentario.html_name }}"
                                                value="{{ form_comentario.comentario.value|default_if_none:''|escape }}"
                                                required></textarea>
                                            <label for="{{ form_comentario.comentario.id_for_label }}">Deja tu
                                                comentario</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary" name="comment_form">
                                            <i class="bi bi-send-fill"></i>
                                            Enviar
                                        </button>
                                    </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-0" style="border: 1px solid gray; width: 100%; opacity: 0.6;"></div>
                    {% endfor %}
                </div>
            </div>
        </dl>
    </div>
    <div class="bottom-0 position-sticky">
        <div class="d-flex align-items-center p-2 justify-content-around" style="background-color: #7C99AC;">
            <!-- Button trigger modal -->
            {% if user.is_authenticated %}
            <h5 class="">¿Deseas contribuir?</h5>
            <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#createResena">
                Crear reseña
            </button>
            {% else %}
            <div class="text-center d-block align-self-center">
                <h5 class="">¿Deseas contribuir?</h5>
                <p class="text-danger fw-bold my-auto fs-6">Debes iniciar sesión para crear una reseña.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade text-start" id="createResena" style="backdrop-filter: blur(15px);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Crear una reseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#createResena"
                    aria-label="Close"></button>
            </div>
            <form method="post" action="#">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="modal-body">
                    <div class="row">
                        <p class="col-4 my-auto fs-5">Comida:</p>
                        <div class="rating col-auto">
                            {% for radio in form_tarea.calificacion_comida %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">☆</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-4 my-auto fs-5">Precio:</p>
                        <div class="rating col-auto">
                            {% for radio in form_tarea.calificacion_precio %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">☆</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-4 my-auto fs-5">Presentación:</p>
                        <div class="rating col-auto">
                            {% for radio in form_tarea.calificacion_presentacion %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">☆</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="textAreaWrapper fs-5">
                        {{ form_tarea.detalle.errors }}
                        <label for="{{ form_tarea.detalle.id_for_label }}" class="row m-auto mt-3 mb-2">Deja tu
                            comentario</label>
                        {{ form_tarea.detalle }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" name="review_form">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
